body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

    #sidebar ul {
        list-style-type: none;
        padding: 0;
    }

        #sidebar ul li {
            margin: 10px 0;
        }

            #sidebar ul li a {
                color: white;
                text-decoration: none;
                display: block;
                padding: 10px 20px;
                font-size: 16px;
            }

                #sidebar ul li a:hover {
                    background-color: #575757;
                }

#content {
    margin-left: 260px;
    padding: 20px;
}

.full-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.second-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
}

.add-bar {
}

.search-customize {
    padding: 12px 12px;
    width: 300px;
    border: 1px solid #393939;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

    .search-customize:focus {
        border-color: #7a956f;
        box-shadow: 0 0 4px rgba(122, 149, 111, 0.4);
    }

.add-publication-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 14px;
    background-color: #7a956f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
}

    .add-author-button:hover {
        background-color: #5e7a57;
    }

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

    .custom-table th,
    .custom-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }

    .custom-table th {
        background-color: #7a956f;
        color: white;
    }

    .custom-table tbody tr:hover {
        background-color: #f5f5f5;
    }

    .custom-table button {
        margin-right: 5px;
        padding: 5px 10px;
        background-color: #7a956f;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        .custom-table button:hover {
            background-color: #5e7a57;
        }

#sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}

    #sidebar ul li a:hover {
        background-color: #575757;
    }
